<html>
    <body>
        <h1>Ajouter une annonce</h1>
        Page d'ajout d'une annonce
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </body>
</html>
