{% extends "SLPlatformBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}
{% block body %}
    <h1>Ajouter une annonce</h1>
    {{ include("SLPlatformBundle:Advert:form.html.twig") }}
{% endblock %}
